<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:16 GMT -->
    <heads>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

        <!-- title  -->
        <title>Smartshop - Responsive eCommerce Admin Dashboard</title>

        <!-- bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script src="https://kit.fontawesome.com/624938e563.js" crossorigin="anonymous"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/admin/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/images/admin/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/admin/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/admin/logos/apple-touch-icon-114x114.png" />

        <!-- common /plugins -->
        <link rel="stylesheet" href="/plugins/admin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/plugins/admin/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/plugins/admin/icomoon/style.css" />
        <link rel="stylesheet" href="/plugins/admin/uniform/css/default.css" />
        <link rel="stylesheet" href="/plugins/admin/switchery/switchery.min.css" />

        <!-- quill editor plugin -->
        <link rel="stylesheet" href="/plugins/admin/quill/quill.snow.css" />

        <!-- quill editor plugin -->
        <link rel="stylesheet" href="/plugins/admin/isotope/magnific-popup.css" />

        <!-- tagsinput plugin -->
        <link rel="stylesheet" href="/plugins/admin/bootstrap-tagsinput/bootstrap-tagsinput.css" />

        <!-- theme core css -->
        <link rel="stylesheet" href="/stylesheet/admin/style.css" />
    </heads>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- PAGE CONTAINER
    ================================================== -->
        <div class="page-container">
            <!-- PAGE SIDEBAR
        ================================================== -->
            <%- include("../includes/admin-sidebar.ejs") %>
            <!-- PAGE CONTENT
        ================================================== -->
            <div class="page-content">
                <!-- PAGE HEADER
            ================================================== -->
                <%- include("../includes/admin_header.ejs") %>

                <!-- Take this much code to every page -->
                <!-- PAGE INNER
            ================================================== -->
                <div class="page-inner">
                    <!-- PAGE MAIN WRAPPER
                ================================================== -->
                    <div id="main-wrapper">
                        <!-- row -->
                        <div class="row g-xl-3">
                            <!-- <div class="col-sm-2"></div> -->
                            <div class="col-xl-12 grid-margin">
                                <div class="card card-white mb-3">
                                    <div class="card-heading clearfix">
                                        <h4 class="card-title">Product information</h4>
                                    </div>
                                    <div class="card-body">
                                        <form
                                            id="form"
                                            method="post"
                                            action="/admin/addBannerPost"
                                            enctype="multipart/form-data"
                                        >
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom01">Title</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="title"
                                                        id="validationCustom01"
                                                        required
                                                    />
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom01">Price</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="price"
                                                        id="validationCustom01"
                                                        required
                                                    />
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom02">URL</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="url"
                                                        id="validationCustom02"
                                                        required
                                                    />
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom03">Description</label>
                                                    <input
                                                        type="text"
                                                        name="description"
                                                        class="form-control"
                                                        id="validationCustom03"
                                                        required
                                                    />
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="card-heading clearfix">
                                                    <h4 class="card-title">Photos</h4>
                                                </div>
                                                <div class="col-md-12">
                                                    <div>
                                                        <input
                                                            class="form-control form-control-lg"
                                                            id="formFileLg"
                                                            type="file"
                                                            required
                                                            accept="image/jpeg,image/gif,image/png,image/x-eps"
                                                            name="bannerImages"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="text-center m-3">
                                                        <button onclick="banner()" type="submit" class="btn btn-primary">
                                                            SUBMIT
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <div class="page-footer">
                        <p>Copyright &copy; <span class="current-year"></span> Gigant Elektra All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- SCROLL TO TOP
     ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>

        <script src="/plugins/admin/jquery/jquery.min.js"></script>

        <!-- axios cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

        <!-- sweet alert cdn -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
            });

            function banner() {
                Toast.fire({
                    icon: "success",
                    title: "Banner added successfully",
                });
                // document.getElementById("form").reset();
            }
            // addBanner = async () => {
            //     event.preventDefault();
            //     const formData = new FormData(event.target);
            //     const formProps = await Object.fromEntries(formData);
            //     console.log(formProps);
            //     axios
            //         .post("/admin/addBannerPost", formProps, {
            //             "Content-Type": `multipart/form-data`,
            //         })
            //         .then(async (e) => {
            //             if (e.data.succ) {
            //                 await Toast.fire({
            //                     icon: "success",
            //                     title: "Coupen added successfully",
            //                 });
            //                 document.getElementById("form").reset();
            //                 // location.href = "/admin/addCoupon";
            //             } else {
            //                 Swal.fire({
            //                     icon: "error",
            //                     title: "Oops...",
            //                     text: "Something went wrong",
            //                 });
            //             }
            //         });
            // };
        </script>

        <!-- popper -->
        <script src="/plugins/admin/popper/js/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/plugins/admin/bootstrap/js/bootstrap.min.js"></script>

        <!-- slimscroll -->
        <script src="/plugins/admin/jquery-slimscroll/jquery.slimscroll.min.js"></script>

        <!-- uniform -->
        <script src="/plugins/admin/uniform/js/jquery.uniform.standalone.js"></script>

        <!-- switchery -->
        <script src="/plugins/admin/switchery/switchery.min.js"></script>

        <!-- apex chart -->
        <script src="/plugins/admin/apexcharts/apexcharts.js"></script>

        <!-- chart js -->
        <script src="/js/admin/pages/chart.js"></script>

        <!-- theme core scripts -->
        <script src="/js/admin/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:28 GMT -->
</html>
