<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/admin/coupons.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:01:00 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

        <!-- title  -->
        <title>Smartshop - Responsive eCommerce Admin Dashboard</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/admin/logos/favicon-16x16.png" />
        <link rel="apple-touch-icon" href="/images/admin/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/admin/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/admin/logos/apple-touch-icon-114x114.png" />

        <!-- common plugins -->
        <link rel="stylesheet" href="/plugins/admin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/plugins/admin/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/plugins/admin/icomoon/style.css" />
        <link rel="stylesheet" href="/plugins/admin/uniform/css/default.css" />
        <link rel="stylesheet" href="/plugins/admin/switchery/switchery.min.css" />

        <!-- theme core css -->
        <link rel="stylesheet" href="/stylesheet/admin/style.css" />
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- PAGE CONTAINER
    ================================================== -->
        <div class="page-container">
            <%- include("../includes/admin-sidebar.ejs") %>
            <div class="page-content">
                <!-- PAGE HEADER
            ================================================== -->
                <div class="page-header">
                    <div class="search-form">
                        <form action="#" method="GET">
                            <div class="input-group">
                                <input
                                    type="text"
                                    name="search"
                                    class="form-control search-input"
                                    placeholder="Type something..."
                                />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="close-search" type="button">
                                        <i class="icon-close"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="logo-sm">
                                    <a href="#" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                    <a class="logo-box" href="index.html"
                                        ><img src="/images/adminlogos/logo.png" class="logo" alt="..."
                                    /></a>
                                </div>
                                <button
                                    type="button"
                                    class="navbar-toggle collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#bs-example-navbar-collapse-1"
                                    aria-expanded="false"
                                >
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" id="toggle-fullscreen"><i class="fa fa-expand"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" id="search-button"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#" class="right-sidebar-toggle" data-sidebar-id="main-right-sidebar"
                                            ><i class="fa fa-envelope"></i
                                        ></a>
                                    </li>
                                    <li class="dropdown">
                                        <a
                                            href="#"
                                            class="dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            role="button"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            ><i class="fa fa-bell"></i
                                        ></a>
                                    </li>
                                    <li class="dropdown user-dropdown">
                                        <a
                                            href="#"
                                            class="dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            role="button"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            ><img
                                                src="images/adminavatars/user-dropdown.jpg"
                                                alt="..."
                                                class="rounded-circle"
                                        /></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>

                <!-- PAGE INNER
            ================================================== -->
                <div class="page-inner">
                    <!-- PAGE MAIN WRAPPER
                ================================================== -->
                    <div id="main-wrapper">
                        <!-- row -->
                        <div class="row align-items-center grid-margin">
                            <div class="col-12">
                                <div class="card card-white">
                                    <div class="card-body row align-items-center">
                                        <div class="col-12 col-md-4">
                                            <h4 class="mb-4 mb-md-0">Coupons</h4>
                                        </div>

                                        <div class="col-12 col-md-8">
                                            <div class="row">
                                                <div class="col-md-3 mb-3 mb-md-0">
                                                    <select class="form-control form-select">
                                                        <option>Status</option>
                                                        <option>Active</option>
                                                        <option>revoked</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3 mb-3 mb-md-0">
                                                    <select class="form-control form-select">
                                                        <option>Order Limits</option>
                                                        <option>Last 7 Orders</option>
                                                        <option>Last 15 Orders</option>
                                                        <option>Last 30 Orders</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="exampleInputEmail1"
                                                        aria-describedby="exampleInputEmail1"
                                                        placeholder="search by name"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <!-- row -->
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card card-white">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-order">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck"
                                                                />
                                                            </div>
                                                        </th>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Campaigns Name</th>
                                                        <th scope="col">Code</th>
                                                        <th scope="col">Remaining coupon</th>
                                                        <th scope="col">Expiration Date</th>
                                                        <th scope="col">Creation Date</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck1"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>1</td>
                                                        <td>Summer Sale</td>
                                                        <td>SUMMER01</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 20%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>05 of 10 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>28th May 2022</td>
                                                        <td>10th Apr 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-danger me-2 f-s-10"></i>Revoked
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck2"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>2</td>
                                                        <td>Winter Sale</td>
                                                        <td>WINTER20</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 30%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>10 of 20 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>20th Feb 2022</td>
                                                        <td>01st Dec 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck3"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>3</td>
                                                        <td>Spring Sale</td>
                                                        <td>SPRING30</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 10%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>01 of 05 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>07th Sep 2022</td>
                                                        <td>28th Aug 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck4"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>4</td>
                                                        <td>Women Day Sale</td>
                                                        <td>WOMEN08</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 45%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>13 of 30 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>08th Mar 2022</td>
                                                        <td>06th Mar 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck5"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>5</td>
                                                        <td>Christmas Sale</td>
                                                        <td>CHRISTMAS25</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 3%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>02 of 07 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>30th Dec 2022</td>
                                                        <td>24th Dec 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-danger me-2 f-s-10"></i>Revoked
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck6"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>6</td>
                                                        <td>Stock Ending Sale</td>
                                                        <td>STOCKEND</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 20%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>10 of 15 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>19th Jul 2022</td>
                                                        <td>01sth Jun 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck7"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>7</td>
                                                        <td>Republic Day Sale</td>
                                                        <td>REPUBLIC26</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 50%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>20 of 30 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>26th Jan 2022</td>
                                                        <td>24th Jan 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck8"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>8</td>
                                                        <td>Diwali Sale</td>
                                                        <td>DIWALIUSER</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 45%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>14 of 25 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>07th Nov 2022</td>
                                                        <td>01th Nov 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-danger me-2 f-s-10"></i>Revoked
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck9"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>9</td>
                                                        <td>Halloween Sale</td>
                                                        <td>HALLOWEEN31</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 15%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>04 of 15 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>31st Dec 2022</td>
                                                        <td>27th Dec 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-checkbox mb-0">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="exampleCheck10"
                                                                />
                                                            </div>
                                                        </th>
                                                        <td>10</td>
                                                        <td>Autumn Discount</td>
                                                        <td>AUTUMNUSER</td>
                                                        <td>
                                                            <div class="custom-progress bg-blue progress mb-2">
                                                                <div
                                                                    class="animated custom-bar progress-bar slideInLeft"
                                                                    style="width: 60%"
                                                                    aria-valuemax="100"
                                                                    aria-valuemin="0"
                                                                    aria-valuenow="10"
                                                                    role="progressbar"
                                                                ></div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <div>20 of 35 codes remaining</div>
                                                            </div>
                                                        </td>
                                                        <td>20th May 2022</td>
                                                        <td>10th May 2022</td>
                                                        <td>
                                                            <i class="fas fa-circle text-success me-2 f-s-10"></i>Active
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- ALL JS INCLUDE
    ================================================== -->

        <!-- jQuery -->
        <script src="/plugins/admin/jquery/jquery.min.js"></script>

        <!-- popper -->
        <script src="/plugins/admin/popper/js/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/plugins/admin/bootstrap/js/bootstrap.min.js"></script>

        <!-- slimscroll -->
        <script src="/plugins/admin/jquery-slimscroll/jquery.slimscroll.min.js"></script>

        <!-- uniform -->
        <script src="/plugins/admin/uniform/js/jquery.uniform.standalone.js"></script>

        <!-- switchery -->
        <script src="/plugins/admin/switchery/switchery.min.js"></script>

        <!-- theme core scripts -->
        <script src="/js/admin/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/admin/coupons.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:01:00 GMT -->
</html>
