<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <img src="/images/admin/logo-no-background.png" alt="..." />
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="/admin/adminHome"> <i class="menu-icon icon-home4"></i><span>Dashboard</span> </a>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon icon-inbox"></i><span>Category</span
                        ><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul>
                        <li><a href="/admin/category">Category</a></li>
                        <li><a href="/admin/addCategory">Add Categories</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon icon-layers"></i><span>Products</span
                        ><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul>
                        <li><a href="/admin/products">Products</a></li>
                        <!-- <li><a href="/admin/productDetails">Product Details</a></li> -->
                        <!-- <li><a href="#">Product Cart</a></li> -->
                        <li><a href="/admin/addProducts">Add Products</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/order">
                        <i class="menu-icon icon-flash_on"></i><span>Orders</span>
                        <!-- <i class="accordion-icon fa fa-angle-left"></i> -->
                    </a>
                    <!-- <ul>
                        <li><a>Orders</a></li>
                        <li><a href="/admin/">Order Details</a></li>
                    </ul> -->
                </li>
                <li>
                    <a href="/admin/customers"> <i class="menu-icon icon-code"></i><span>Customers</span> </a>
                </li>
                <li>
                    <a href="/admin/report"> <i class="fa-solid fa-chart-simple menu-icon"></i><span>Reports</span> </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-sharp fa-solid fa-image menu-icon"></i><span>Banners</span
                        ><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul>
                        <li><a href="/admin/banner">Banner</a></li>
                        <li><a href="/admin/add_banner">Create Banner</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon icon-format_list_bulleted"></i><span>Coupons</span
                        ><i class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul>
                        <li><a href="/admin/coupon">Coupons</a></li>
                        <li><a href="/admin/addCoupon">Create Coupons</a></li>
                    </ul>
                </li>

                <li class="menu-divider"></li>
                <li>
                    <a href="/admin/logout"> <i class="menu-icon icon-public"></i><span>Logout</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
