<header class="fixed header-light-nav">
    <div id="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 col-md-6">
                    <div class="top-bar-info">
                        <ul class="ps-0">
                            <li>
                                <a href="tel:01234567890"
                                    ><i class="fa-solid fa-mobile-button text-primary"></i> ><span
                                        class="d-none d-md-inline-block ps-2"
                                        >(+123) 456 7890</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a href="mailto:addyour@emailhere"
                                    ><i class="fa-regular fa-envelope"></i
                                    ><span class="d-none d-md-inline-block ps-2">addyour@emailhere</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-9 col-md-6">
                    <ul class="top-nav ps-0">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle"><i class="far fa-user"></i></a>
                            <ul class="dropdown-menu p-4">
                                <% if (user_details) { %>
                                <li class="mb-2">
                                    <div class="media align-items-center">
                                        <div class="media-body"><%=user_details.userName%></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/profile" class="dropdown-item">My Profile</a>
                                </li>
                                <li>
                                    <a href="/logout" class="dropdown-item">Log Out</a>
                                </li>
                                <% } else { %>
                                <li class="mb-2">
                                    <div class="media align-items-center">
                                        <div class="media-body">User</div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/login" class="dropdown-item">LogIn</a>
                                </li>
                                <% } %>
                            </ul>
                        </li>

                        <li>
                            <a href="/wishlist"><i class="far fa-heart"></i></a>
                        </li>
                        <!-- <li>
                            <select>
                                <option>English</option>
                                <option>Deutsch</option>
                                <option>Italiano</option>
                            </select>
                        </li>
                        <li>
                            <select>
                                <option>$ USD</option>
                                <option>€ EUR</option>
                                <option>£ UKP</option>
                                <option>¥ JPY</option>
                            </select>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-default">
        <!-- top search -->
        <div class="top-search bg-primary">
            <div class="container-fluid">
                <form class="search-form" action="#" method="GET">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                        </span>
                        <input
                            type="text"
                            class="search-form_input form-control"
                            name="s"
                            id="searchIc"
                            onkeyup="searchL()"
                            autocomplete="off"
                            placeholder="Type & hit enter..."
                        />
                        <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end top search -->

        <div class="container-fluid p-0">
            <div class="row align-items-center g-0">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <!-- category toggler -->
                            <!-- <a href="#" id="trigger" class="menu-trigger"><i class="ti-menu"></i></a> -->
                            <!-- end category toggler -->

                            <div class="navbar-header navbar-header-custom">
                                <!-- logo -->
                                <a href="/" class="navbar-brand logodefault"
                                    ><img class="ps-5" id="logo" src="/images/user/logos/logo-no-background.png" alt="logo"
                                /></a>
                                <!-- end logo -->
                            </div>

                            <!-- menu toggler -->
                            <div class="navbar-toggler"></div>
                            <!-- end menu toggler -->

                            <!-- menu area -->
                            <ul class="navbar-nav mx-auto" id="nav" style="display: none">
                                <li>
                                    <a href="/">Home</a>
                                </li>

                                <li>
                                    <a href="#">Account</a>
                                    <ul>
                                        <li><a href="/profile">Login / Register</a></li>
                                        <li><a href="/forgot_password">Password Recovery</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/profile">Profile Page</a></li>
                                        <li><a href="/address">Contact Address</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        <!-- <li><a href="address">Contact / Shipping Address</a></li>
                                        <li><a href="tickets">My Tickets</a></li>
                                        <li><a href="single-ticket">Single Ticket</a></li> -->
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mega menu</a>
                                    <ul>
                                        <li><a href="/cart">My Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/order_view">Orders List</a></li>
                                        <!-- <li><a href="address">Contact / Shipping Address</a></li>
                                        <li><a href="tickets">My Tickets</a></li>
                                        <li><a href="single-ticket">Single Ticket</a></li> -->
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li><a href="/userProduct">Shop Categories</a></li>
                                        <li><a href="/userProduct">Shop Cart</a></li>
                                        <li><a href="/checkout">Shop Checkout</a></li>
                                        <!-- <li><a href="shop-product-grid">Product Grid</a></li>
                                        <li><a href="shop-product-list">Product List</a></li>
                                        <li>
                                            <a href="shop-product-full-three-coulmn">Product Three Coulmns</a>
                                        </li>
                                        <li>
                                            <a href="shop-product-full-four-coulmn">Product Four Coulmns</a>
                                        </li> -->
                                        <!-- <li><a href="shop-product-detail">Product Detail</a></li>
                                        <li><a href="shop-cart">Shop Cart</a></li>
                                        <li>
                                            <a href="shop-checkout-address">Shop Checkout</a>
                                            <ul>
                                                <li><a href="shop-checkout-address">Address</a></li>
                                                <li><a href="shop-checkout-shipping">Shipping</a></li>
                                                <li><a href="shop-checkout-payment">Payment</a></li>
                                                <li><a href="shop-checkout-review">Review</a></li>
                                                <li><a href="checkout-complete">Complete</a></li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </li>
                            </ul>

                            <!-- end menu area -->

                            <!-- attribute navigation -->
                            <div class="attr-nav">
                                <ul>
                                    <%if(user_details){%>
                                    <li>
                                        <a href="/cart"
                                            ><i class="fa-solid fa-bag-shopping"></i>
                                            <span class="badge bg-primary"><%=cartcount%></span></a
                                        >
                                    </li>
                                    <% } else { %>
                                    <li>
                                        <a href="/cart"
                                            ><i class="fa-solid fa-bag-shopping"></i>
                                            <span class="badge bg-primary">0</span></a
                                        >
                                    </li>
                                    <%}%>

                                    <li class="search">
                                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
