<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/account-password-recovery by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
        <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

        <!-- title  -->
        <title>Gigant Elektra - Elegant smart world</title>

        <!-- google icons -->
        <script src="https://kit.fontawesome.com/138cb064b7.js" crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
            integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script src="https://unpkg.com/themify@1.0.0/_themify.scss"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/user/logos/favicon-32x32.png" />
        <link rel="apple-touch-icon" href="/images/user/logos/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/user/logos/android-chrome-192x192.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/user/logos/android-chrome-512x512.png" />

        <!-- plugins -->
        <link rel="stylesheet" href="/stylesheet/user/plugins.css" />

        <!-- theme core css -->
        <link href="/stylesheet/user/styles.css" rel="stylesheet" />
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper mp-pusher" id="mp-pusher">
            <!-- HEADER
        ================================================== -->
            <%- include("../includes/userHeader.ejs") %>

            <!-- PAGE TITLE
        ================================================== -->
            <section class="page-title-section bg-img cover-background" data-background="/images/user/bg/page-title.jpg">
                <div class="container">
                    <div class="title-info">
                        <h1>Password Recovery</h1>
                    </div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="/">Home</a></li>
                            >
                            <li><a href="#">Password Recovery</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- PASSWORD RECOVERY
        ================================================== -->
            <section class="md">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div id="superdiv" class="common-block">
                                <form>
                                    <div class="inner-title">
                                        <h4 class="mb-0">Forgot your password?</h4>
                                        <p class="mb-0">Forgot your password empowers you.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 mb-2">
                                            <div class="form-group">
                                                <label>Enter Your Email Address</label>
                                                <input
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                    id="emailp"
                                                    placeholder="Enter your email address"
                                                />
                                            </div>
                                            <p
                                                class="float-start text-danger mb-1 fw-light opacity-75"
                                                id="emailidwarning"
                                            ></p>
                                        </div>
                                    </div>
                                    <button onclick="validate()" type="submit" class="butn-style2 mt-4">
                                        Reset my password
                                    </button>
                                    <p class="text-danger" id="errmsg"></p>
                                </form>
                                <div class="row">
                                    <div class="col-sm-12 mt-2">
                                        <a href="/login" class="m-link-muted">Back to Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include("../includes/user-footer.ejs") %>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- all js include start -->

        <!-- axios cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

        <!-- sweet alert cdn -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            let email = document.getElementById("emailp");
            let emailwarning = document.getElementById("emailidwarning");
            let mobile;

            function validate() {
                event.preventDefault();
                let form = event.target.form;
                let validation = true;
                console.log(111111);
                document.getElementById("errmsg").innerHTML = "";
                emailwarning.innerHTML = "";
                console.log(email.value);
                if (email.value == "") {
                    emailwarning.innerHTML = "";
                    validation = false;
                }
                if (validation) {
                    email = email.value;
                    console.log(222222);
                    try {
                        axios
                            .post("/forgot_password_post", {
                                email: email,
                            })
                            .then((e) => {
                                console.log(2222);
                                if (!e.data.response) {
                                    mobile = e.data.mobile;
                                    document.getElementById("superdiv").innerHTML = `<div class="inner-title">
                                        <h6 class="mb-0">Enter the code we just send on your number </h6>
                                        <p class="mb-0">${e.data.mobile}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-2">
                                            <div class="form-group">
                                                <label>Enter OTP</label>
                                                <input
                                                type="text"
                                                class="form-control"
                                                name="otp"
                                                maxlength="6"
                                                onkeyup="otpcheck()"
                                                id="otpid"
                                                placeholder="Enter OTP "
                                                />
                                            </div>
                                                <p
                                                class="float-start text-danger mb-1 fw-light opacity-75"
                                                id="emailidwarning"
                                                ></p>
                                            </div>
                                                <p class="float-start text-danger mb-1 fw-light opacity-75" id="otpidwarning"></p>
                                                <p class="text-danger" id="errmsg"></p>
                                        </div>
                                        <div>
                                            <span id="timer">
                                                
                                                </span>
                                            </div>
                                                `;
                                } else {
                                    document.getElementById("errmsg").innerHTML = e.data.response;
                                }
                            });
                        console.log(444);
                    } catch (error) {
                        console.log(error);
                        console.log(4444);
                    }
                } else console.log("errrr");
            }

            function otpcheck() {
                console.log(147);
                let otp = document.getElementById("otpid").value;
                if (otp.length == 6) {
                    document.getElementById("otpid").disabled = true;
                    try {
                        axios
                            .post("/otpforgotPost", {
                                otp: otp,
                                number: mobile,
                            })
                            .then(async (e) => {
                                if (e.data.response) {
                                    document.getElementById("superdiv").innerHTML = `
                                <div class="inner-title">
                                        <h4 class="mb-0">Create new password</h4>
                                        <p class="mb-0">Forgot your password empowers you.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 mb-2">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    name="password"
                                                    id="password"
                                                    onkeyup="passwordkey()"
                                                    placeholder="Your password "
                                                    required
                                                />
                                            </div>
                                            <p class="text-danger fw-light opacity-75" id="passwordidwarning"></p>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    name="confirmpassword"
                                                    id="confirmpassword"
                                                    onkeyup="confirmkey()"
                                                    placeholder=" confirm password "
                                                    required
                                                />
                                                <p class="text-danger fw-light opacity-75" id="password2idwarning"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-danger" id="errmsg"></p>
                                    <button onclick="validatesignup()" type="submit" class="butn-style2 mt-4">
                                        Confirm
                                    </button>
                                `;
                                } else {
                                    document.getElementById("otpid").value = "";
                                    document.getElementById("otpid").disabled = false;
                                    document.getElementById("errmsg").style.display = "";
                                }
                            });
                    } catch (error) {
                        console.log(error);
                        console.log("eeeeeeeeeerrrrrrrrrr");
                    }
                }
            }

            function validatesignup() {
                let password = document.getElementById("password"),
                    password2 = document.getElementById("confirmpassword");
                let passwordwarning = document.getElementById("passwordidwarning"),
                    password2warning = document.getElementById("password2idwarning");
                passwordwarning.innerHTML = "";
                password2warning.innerHTML = "";
                event.preventDefault();
                let form = event.target.form;
                let validation = true;
                if (password.value === "") {
                    passwordwarning.innerHTML = "Please enter a password";
                    validation = false;
                } else if (password.value.length < 6 || password.value.length > 12) {
                    passwordwarning.innerHTML = "Password should be between 6 to 12 letters";
                    validation = false;
                } else if (password2.value === "") {
                    password2warning.innerHTML = "Please confirm your password";
                    validation = false;
                } else if (password.value != password2.value) {
                    password2warning.innerHTML = "Password confirmation is failed";
                    validation = false;
                }
                if (validation) {
                    try {
                        axios
                            .patch("/changePassword", {
                                email: email,
                                password: password.value,
                            })
                            .then(async (e) => {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    showConfirmButton: false,
                                    timer: 1000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.addEventListener("mouseenter", Swal.stopTimer);
                                        toast.addEventListener("mouseleave", Swal.resumeTimer);
                                    },
                                });
                                if (e.data.error) {
                                    await Toast.fire({
                                        icon: "error",
                                        title: e.data.error,
                                    });
                                } else if (e.data.succ) {
                                    await Toast.fire({
                                        icon: "success",
                                        title: "Your password updated successfully",
                                    });
                                    location.href = "/login";
                                } else {
                                    await Toast.fire({
                                        icon: "error",
                                        title: "Something went wrong",
                                    });
                                }
                            });
                    } catch (error) {
                        console.log(error);
                    }
                }
                function passwordkey() {
                    passwordwarning.innerHTML = "";
                }
                function confirmkey() {
                    password2warning.innerHTML = "";
                }
            }
        </script>

        <!-- jQuery -->
        <script src="/js/user/jquery.min.js"></script>

        <!-- popper js -->
        <script src="/js/user/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/js/user/bootstrap.min.js"></script>

        <!-- core.min.js -->
        <script src="/js/user/core.min.js"></script>

        <!-- custom scripts -->
        <script src="/js/user/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/account-password-recovery by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
</html>
