<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/order-tracking.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
        <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

        <!-- title  -->
        <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/user/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/images/user/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/user/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/user/logos/apple-touch-icon-114x114.png" />

        <!-- plugins -->
        <link rel="stylesheet" href="/stylesheet/user/plugins.css" />

        <!-- theme core css -->
        <link href="/stylesheet/user/styles.css" rel="stylesheet" />
        <style>
            .card {
                width: 400px;
                border: none;
                height: 300px;
                box-shadow: 0px 5px 20px 0px #d2dae3;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card h6 {
                color: rgb(0, 0, 0);
                font-size: 20px;
            }
            .inputs input {
                width: 150px;
                height: 40px;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0;
            }
            .card-2 {
                background-color: #fff;
                padding: 10px;
                width: 350px;
                height: 100px;
                bottom: -50px;
                left: 20px;
                position: absolute;
                border-radius: 5px;
            }
            .card-2 .content {
                margin-top: 50px;
            }

            .form-control:focus {
                box-shadow: none;
                border: 2px solid red;
            }
            .validate {
                border-radius: 20px;
                height: 40px;
                background-color: red;
                border: 1px solid red;
                width: 140px;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper mp-pusher" id="mp-pusher">
            <!-- HEADER
        ================================================== -->
            <%- include("../includes/userHeader.ejs") %>
            <!-- CATEGORY MP-MENU
        ================================================== -->

            <!-- PAGE TITLE
        ================================================== -->
            <section class="page-title-section bg-img cover-background" data-background="/images/user/bg/page-title.jpg">
                <div class="container">
                    <div class="title-info">
                        <h1>Order Tracking</h1>
                    </div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="home-shop-1.html">Home</a></li>
                            >
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- ORDER TRACKING
        ================================================== -->
            <section>
                <div class="container">
                    <div class="container height-100 d-flex justify-content-center align-items-center">
                        <div class="position-relative">
                            <form action="/otp_verifyied" method="post">
                                <div class="card p-2 text-center">
                                    <h6>
                                        Please enter the one time password <br />
                                        to verify your account
                                    </h6>
                                    <div>
                                        <span>A code has been sent to</span> <small>*******<%=phone.substring(6)%></small>
                                    </div>
                                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                                        <input
                                            class="m-2 text-center form-control rounded"
                                            type="text"
                                            id="otpid"
                                            name="otp"
                                            onkeyup="otpcheck()"
                                            maxlength="6"
                                        />
                                    </div>
                                    <!-- <div class="mt-4">
                                        <button type="submit" class="btn btn-danger px-4 validate">Validate</button>
                                    </div> -->
                                    <p class="ml-5 text-danger" id="errmsg" style="display: none">
                                        OTP verification failed
                                    </p>
                                </div>
                                <div class="card-2">
                                    <!-- <div class="content d-flex justify-content-center align-items-center">
                                        <span>Didn't get the code</span>
                                        <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <!-- FOOTER
        ================================================== -->
            <%- include("../includes/user-footer.ejs") %>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- all js include start -->

        <!-- axios cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

        <!-- sweet alert cdn -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function otpcheck() {
                let otp = document.getElementById("otpid").value;
                if (otp.length === 6) {
                    document.getElementById("otpid").disabled = true;
                    try {
                        axios.post("/otp_verifyied", { otp: otp }).then((e) => {
                            if (e.data.response) {
                                location.href = "/";
                            } else {
                                document.getElementById("otpid").value = "";
                                document.getElementById("otpid").disabled = false;
                                document.getElementById("errmsg").style.display = "";
                            }
                        });
                    } catch (error) {
                        console.log(error);
                    }
                }
            }
        </script>

        <!-- jQuery -->
        <script src="/js/user/jquery.min.js"></script>

        <!-- popper js -->
        <script src="/js/user/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/js/user/bootstrap.min.js"></script>

        <!-- core.min.js -->
        <script src="/js/user/core.min.js"></script>

        <!-- custom scripts -->
        <script src="/js/user/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/order-tracking.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
</html>
